.titlerow h3 span {
    color: rgba( 0, 200, 0, 1 );
}

.syntax-highlight-container .lang {
    margin-left: 5px;
}

.syntax-highlight-container .syntaxHighlight {
    border-left: 2px solid #666;
    padding-left: 5px;
    white-space: pre;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    margin-top: 3px;
    min-height: 0;
}

.overflowx {
    overflow-x: auto;
}

.ubercontrol {
    bottom: 15px;
    position: relative;
    top: 15px;
}

.ubercontrol .badge,
.ubercontrol .btn {
    margin-right: 10px;
}

.ubercontrol,
.title-row * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.show-trace.active {
    background-color: #777;
}

.ubercontrol .start,
.ubercontrol .stop {
    display: none;
}

.when {
    margin-left: 20px;
    opacity: 0.3;
    user-select: none;
}

.shjs {
    white-space: pre;
}

#container.hideTrace .nottrace {
    width: 100%;
}
#container.hideTrace .trace {
    display: none;
}

#container > div + div {
    margin-top: 5px;
}